.navbar{
    padding:15px;
    height:40px;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.text{
    background-color: rgb(240, 240, 240);
    margin-left:7px;
    padding:10px;
    cursor:pointer;
    border-radius: 5px;
}
.search{
    
    padding-left:10px;
    display:flex;
    align-items: center;
}
.container1{
    padding :10px;
    display:flex;
    align-items:center;
  cursor:pointer;
}
.ava img{
    cursor:pointer;
    padding :10px;
    width:45px;
    height:45px;
    border-radius:50px;
}
.box,.gap{
    display:flex;
    align-items:center;
    padding :10px;
}
.para{
    padding :10px;
}